Financial Risk Predictin on UI.json
[{"id":"e0fff6ac.504a58","type":"tab","label":"prediction","disabled":false,"info":""},{"id":"af519a99.4e7dc8","type":"ui_form","z":"e0fff6ac.504a58","name":"","label":"","group":"62dbfce4.7d4724","order":9,"width":0,"height":0,"options":[{"label":"ApplicantIncome","value":"a","type":"number","required":true,"rows":null},{"label":"CoapplicantIncome","value":"b","type":"number","required":true,"rows":null},{"label":"LoanAmount","value":"c","type":"number","required":true,"rows":null},{"label":"Loan_Term","value":"d","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":130,"y":40,"wires":[["dc0df60d.c4c638"]]},{"id":"5fb779b.ec92488","type":"ui_dropdown","z":"e0fff6ac.504a58","name":"","label":"Dependents","tooltip":"","place":"Select option","group":"62dbfce4.7d4724","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":0,"type":"num"},{"label":"1","value":1,"type":"num"},{"label":"2","value":2,"type":"num"},{"label":"3","value":3,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":150,"y":240,"wires":[["779447d1.3a2008"]]},{"id":"22cd0872.098fa8","type":"ui_dropdown","z":"e0fff6ac.504a58","name":"","label":"Education","tooltip":"","place":"Select option","group":"62dbfce4.7d4724","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":0,"type":"num"},{"label":"1","value":1,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":320,"wires":[["c474e0f6.3e27d"]]},{"id":"f668dbe1.df6328","type":"ui_dropdown","z":"e0fff6ac.504a58","name":"","label":"Self_Employed","tooltip":"","place":"Select option","group":"62dbfce4.7d4724","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":0,"type":"num"},{"label":"1","value":1,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":200,"y":420,"wires":[["8543aef9.37a6b"]]},{"id":"99628e9d.01959","type":"ui_dropdown","z":"e0fff6ac.504a58","name":"","label":"Credit_History_Available","tooltip":"","place":"Select option","group":"62dbfce4.7d4724","order":6,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":0,"type":"num"},{"label":"1","value":1,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":190,"y":480,"wires":[["130bf458.f9a48c"]]},{"id":"3e1fd7b2.361de8","type":"ui_dropdown","z":"e0fff6ac.504a58","name":"","label":"Housing","tooltip":"","place":"Select option","group":"62dbfce4.7d4724","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":0,"type":"num"},{"label":"1","value":1,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":180,"y":580,"wires":[["fcc9fa86.4be9b8"]]},{"id":"7b97064f.4d63d8","type":"ui_dropdown","z":"e0fff6ac.504a58","name":"","label":"Locality","tooltip":"","place":"Select option","group":"62dbfce4.7d4724","order":8,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":0,"type":"num"},{"label":"1","value":1,"type":"num"},{"label":"2","value":2,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":220,"y":660,"wires":[["cea5b254.6dffe"]]},{"id":"1dee63ce.1019ac","type":"ui_dropdown","z":"e0fff6ac.504a58","name":"","label":"Married","tooltip":"","place":"Select option","group":"62dbfce4.7d4724","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":0,"type":"num"},{"label":"1","value":1,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":140,"y":160,"wires":[["b0a734a5.162258"]]},{"id":"2b204a07.0950e6","type":"ui_dropdown","z":"e0fff6ac.504a58","name":"","label":"Gender","tooltip":"","place":"Select option","group":"62dbfce4.7d4724","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"0","value":0,"type":"num"},{"label":"1","value":1,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":140,"y":120,"wires":[["ecd93936.af77f8"]]},{"id":"1a699a88.ee01e5","type":"debug","z":"e0fff6ac.504a58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":100,"wires":[]},{"id":"4d25e0fb.8f4ba","type":"debug","z":"e0fff6ac.504a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":160,"wires":[]},{"id":"7344a882.358e88","type":"debug","z":"e0fff6ac.504a58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"58a00eab.4a91e","type":"debug","z":"e0fff6ac.504a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"ddfe8ffa.95448","type":"debug","z":"e0fff6ac.504a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":360,"wires":[]},{"id":"27f4b705.b2c088","type":"debug","z":"e0fff6ac.504a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":440,"wires":[]},{"id":"a98794a7.721b08","type":"debug","z":"e0fff6ac.504a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":500,"wires":[]},{"id":"65fbf1d7.ab2ed","type":"debug","z":"e0fff6ac.504a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":600,"wires":[]},{"id":"22707396.3f448c","type":"debug","z":"e0fff6ac.504a58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":660,"wires":[]},{"id":"dc0df60d.c4c638","type":"function","z":"e0fff6ac.504a58","name":"global variables for form node","func":"global.set(\"ApplicantIncome\",msg.payload.a)\nglobal.set(\"Coapplicantincom\",msg.payload.b)\nglobal.set(\"LoanAmount\",msg.payload.c)\nglobal.set(\"Loan_Team\",msg.payload.d)\nvar apikey = \"ivnwJ2Lk7k6SCbYlhzTIZBryX7IJZ02T0Us0Pf5cl1dt\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":60,"wires":[["1a699a88.ee01e5","69a42bc4.3c6dec"]]},{"id":"ecd93936.af77f8","type":"function","z":"e0fff6ac.504a58","name":"gender","func":"global.set(\"Gender\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":140,"wires":[["4d25e0fb.8f4ba"]]},{"id":"779447d1.3a2008","type":"function","z":"e0fff6ac.504a58","name":"dep","func":"global.set(\"Dependents\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":280,"wires":[["58a00eab.4a91e"]]},{"id":"b0a734a5.162258","type":"function","z":"e0fff6ac.504a58","name":"married","func":"global.set(\"Married\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[["7344a882.358e88"]]},{"id":"c474e0f6.3e27d","type":"function","z":"e0fff6ac.504a58","name":"edu","func":"global.set(\"Education\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":340,"wires":[["ddfe8ffa.95448"]]},{"id":"8543aef9.37a6b","type":"function","z":"e0fff6ac.504a58","name":"self","func":"global.set(\"Self_Employed\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":420,"wires":[["27f4b705.b2c088"]]},{"id":"130bf458.f9a48c","type":"function","z":"e0fff6ac.504a58","name":"credit","func":"global.set(\"Credit_History_Available\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":500,"wires":[["a98794a7.721b08"]]},{"id":"fcc9fa86.4be9b8","type":"function","z":"e0fff6ac.504a58","name":"Housing","func":"global.set(\"Housing\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":580,"wires":[["65fbf1d7.ab2ed"]]},{"id":"cea5b254.6dffe","type":"function","z":"e0fff6ac.504a58","name":"Locality","func":"global.set(\"Locality\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":660,"wires":[["22707396.3f448c"]]},{"id":"69a42bc4.3c6dec","type":"http request","z":"e0fff6ac.504a58","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":40,"wires":[["99ea8903.cdeb28","761a95f0.48a524"]]},{"id":"99ea8903.cdeb28","type":"debug","z":"e0fff6ac.504a58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":180,"wires":[]},{"id":"761a95f0.48a524","type":"function","z":"e0fff6ac.504a58","name":"","func":"var ApplicantIncome = global.get(\"ApplicantIncome\")\nvar CoapplicantIncome = global.get(\"CoapplicantIncome\")\nvar LoanAmount = global.get(\"LoanAmount\")\nvar Loan_Term = global.get(\"Loan_Term\")\nvar Gender = global.get(\"Gender\")\nvar Married = global.get(\"Married\")\nvar Dependents = global.get(\"Dependents\")\nvar Education = global.get(\"Education\")\nvar Self_Employed = global.get(\"Self_Employed\")\nvar Credit_History_Available = global.get(\"Credit_History_Available\")\nvar Housing = global.get(\"Housing\")\nvar Locality = global.get(\"Locality\")\nvar token=msg.payload.access_token\nmsg.headers={'content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"appliction/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"ApplicantIncome\",\"CoapplicantIncome\",\"LoanAmount\",\"Loan_Term\",\"Gender\",\"Married\",\"Dependents\",\"Education\",\"Self_Employed\",\"Credit_History_Available\",\"Housing\",\"Locality\"]],\"values\":[[ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Term,Gender,Married,Dependents,Education,Self_Employed,Credit_History_Available,Housing,Locality]]}]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":100,"wires":[["afc3ca5f.962648"]]},{"id":"afc3ca5f.962648","type":"http request","z":"e0fff6ac.504a58","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/0f93b2b0-5aea-4cb4-9733-ed92b0e90d00/predictions?version=2021-06-02","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":180,"wires":[["facb4ace.fd0dc8","a7fe49fe.67e4e"]]},{"id":"a7fe49fe.67e4e","type":"ui_text","z":"e0fff6ac.504a58","group":"62dbfce4.7d4724","order":9,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1260,"y":240,"wires":[]},{"id":"facb4ace.fd0dc8","type":"debug","z":"e0fff6ac.504a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":100,"wires":[]},{"id":"62dbfce4.7d4724","type":"ui_group","name":"Enter the values","tab":"e0a1c822.33bcc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e0a1c822.33bcc8","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]